<div class="card-header header-table d-flex justify-content-between align-items-center">
  <h2 class="text-white">Tareas</h2>
</div>

<div class="card-header d-flex justify-content-between align-items-center">
  <h5>Lista de Tareas</h5>
  <a routerLink="/tasks/create" class="btn btn-success btn-sm">Nueva Tarea</a>
</div>
<div class="card">


  <div class="card-body p-0">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Asignado a</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.assignedTo?.email || 'No asignado' }}</td>
          <td>
            <a [routerLink]="['/tasks/detail', task._id]" class="btn btn-sm btn-outline-primary me-2">Editar</a>
            <button class="btn btn-sm btn-outline-danger" *ngIf="isAdmin()" (click)="deleteTask(task._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
